.body-index {
  width: 100%;
  display: grid;
  grid-template-areas: "header-i" "main-i" "footer-i"; }

header {
  grid-area: header-i;
  background-color: #FFC300;
  width: 100%;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }
  header img {
    width: 20%; }
  header nav {
    display: flex;
    flex-flow: row-reverse nowrap; }
    header nav ul {
      width: 40%;
      list-style-type: none;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-around; }
      header nav ul li {
        color: red; }

.main-index {
  grid-area: main-i;
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }
  .main-index .titulo {
    padding: 10%; }
    .main-index .titulo h1 {
      font-size: 6rem; }
  .main-index .buscador {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .main-index .buscador .input-localizacion {
      display: flex;
      border: 2px solid #FFC300;
      width: 60%;
      height: 55px;
      border-radius: 1rem;
      background: white; }
    .main-index .buscador ion-icon {
      padding: 1%;
      font-size: 230%;
      color: #fff;
      border: 4px solid #FFC300;
      border-radius: 1rem;
      color: #FFC300; }
    .main-index .buscador .boton-buscador {
      background-color: #FFC300;
      border: 2px solid black; }

.footer-index {
  grid-area: footer-i;
  margin-top: 10%;
  color: black; }
