
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    }
    @keyframes rotation {
        10% {
            transform: rotate(0deg);
        }
        20% {
            transform: rotate(-20deg);
        }
        30% {
            transform: rotate(-30deg);
            }
        40% {
            transform: rotate(-40deg);
            }
        50% {
            transform: rotate(-30deg);
            }
        60% {
            transform: rotate(-40deg);
            }
        70% {
                transform: rotate(-30deg);
            }
        80% {
                transform: rotate(-20deg);
            }
        90% {
                transform: rotate(-10deg);
            }
        100% {
                transform: rotate(0deg);
            }
        }



.body-index{
    
    width: 100%;
    display: grid;
    grid-template-areas:
    "header-i"
    "main-i"
    "footer-i";
    background-image:url("https://t4.ftcdn.net/jpg/04/77/41/49/360_F_477414972_fCT8rvCa1KxIq0g9p51GmcRiQhl2PSvi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}   

.body-inicio{
    width: 100%;
    display: grid;
    grid-template-areas:
    "header-i"
    "txt"
    "main"
    "txt-2" 
    "carrosa"
    "footer-o";
    gap: 2rem;
    background: rgb(237,251,63);
    background: radial-gradient(circle, rgba(237,251,63,1) 0%, rgba(252,164,70,1) 95%, rgba(252,70,70,1) 99%);
}
.body-about{
    width: 100%;
    display: grid;
    grid-template-areas: "header-i"
    "main-a"
    "footer-a";
    gap: 12rem;

}
.body-pagos{
    display: grid;
    grid-template-areas:
    "header-i"
    "contenido"
    "footer-2";
    width: 100%;
}
.body-login{
    display: grid;
    grid-template-areas:
    "header-i"
    "cont"
    "footer-o";
    width: 100%;
}
