    
.body-index{
    width: 100%;
    display: grid;
    grid-template-areas:
    "header-i"
    "main-i"
    "footer-i";
    background: rgb(255,222,0);
    background: linear-gradient(0deg, rgb(238, 183, 20) 24%, rgba(245,255,0,1) 99%);
    

}
.body-inicio{
    width: 100%;
    display: grid;
    grid-template-areas:
    "header-i"
    "txt"
    "main"
    "footer-o";
    gap: 12rem;
    background: rgb(255,222,0);
    background: linear-gradient(0deg, rgb(238, 183, 20) 24%, rgba(245,255,0,1) 99%);
    

}
.body-about{
    width: 100%;
    display: grid;
    grid-template-areas: "header-i"
    "main-a"
    "footer-a";
    gap: 12rem;

}
