.carrusele{
    margin-top: 0%;
    grid-area: carrosa;
    padding: 10%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    h3{
        font-size: 3rem;
        -webkit-text-stroke: 2px black;
        color: map-get($colores, color2);
    }
    
    .burger-car-3{
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
                .texto-burger-3{
            padding-left: 20%;
            padding-right: 2%;
                    
        }
        

    }
    button{
        background-color: transparent;
    }
    
    img{
        padding-top: 10%;
        margin-left: 20%;
        max-width: 40%;
        max-height: 20%;
        object-fit: contain;
       
        
    }
    .img-pollo{
        margin-top: -12%;
    }
    .img-veggie{
        padding-top: 10%;

    }
}