.footer-index{
    grid-area: footer-i;
    margin-top: 10%;
    color:black
}
.footer-inicio{
    grid-area: footer-o;
    margin-top: 5rem;
}

.footer-about{
    grid-area: footer-a;
    width: 100%;
    margin-bottom: 6%;
    background-color: map-get($colores, color2);
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
        h3{
        margin-top: 2% ;
        }
        .footer-about-contact{
            padding: 2%;
            display: flex;
            flex-flow: row nowrap;        
            justify-content: space-evenly;
                img{
                    width: 10%;
                    &:hover{
                        transform: scale(1.3);
                        transition: ease all 500ms;
                    }
                }
        }
    }