@import "_variables.scss";

.main-index{

    grid-area: main-i;
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .titulo{
        font-family: 'Pattaya';
        padding: 10%;
        font-family: 'Pattaya';
        h1{

            font-size: 6rem;
        }     
    }
    .buscador{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        .input-localizacion{
            display: flex;
            border: 2px solid map-get($colores, color2);
            width: 60%;
            height: 55px;
            border-radius: 1rem;
            background: white;
        }
        ion-icon{
            padding: 1%;
            font-size:230% ;
            color: map-get($colores, color2);
            border: 4px solid black;
            border-radius: 1rem;
            color: black;
        }
        .boton-buscador{
            background-color: map-get($colores, color2);
            border: 2px solid black;
            font-family: fantasy;
        }
    }

}

    .main-inicio{
        font-family: 'Koulen', cursive;

        grid-area: main;
        width: 90%;
        border-radius: 1rem;
        border: 2px solid black;
        display: grid;
        grid-template-areas:
        "ca-1 ca-2"
        "ca-3 ca-4";
        gap: 2%;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSW2XBmGXjhP-DmvIv3Z9B_7LhUquAeP0C1Gw&usqp=CAU");
        background-repeat: cover;
        margin-top:20%;
        padding-bottom: 10%;
        padding-top: 10%;
        overflow:visible;

        
    .card1{
        grid-area: ca-1;
        width: 70%;
        margin: 10%;
        padding: 2%;
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        align-items: center;
        align-content: center;      
        border: 2px solid black;
        border-radius: 1rem; 
        background: rgb(255,222,0);
        background: linear-gradient(50deg, rgba(255,222,0,1) 25%, rgba(255,170,0,1) 80%, rgba(255,156,0,1) 87%, rgba(255,146,0,1) 94%, rgba(255,111,0,1) 100%);
        

        &:hover{
            grid-row-start: ca-1;
            grid-row-end: ca-2;
            grid-column-start:  ca-1;
            grid-column-end: ca-2;
            position:relative;
            width: 80%;
            margin: 5%;
            margin-left: 4%;
            @include flex-centrar;
            @include row-no;
            transition: all 500ms;
            backdrop-filter: blur(5px);
            overflow: hidden;

            z-index: 1;
            .info-card{
                display: block;
                list-style: none;
                padding: 5%;

            }
            .oferta{
                -webkit-animation: swing 2s ease;
                animation: swing 1s ease;
                -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;      
            }
            img{
                width: 80%;
            }

        }
        .oferta{
            display: flex;
            align-self: flex-start;
            border-radius: 1rem;
            background: rgb(255,99,37);
            background: linear-gradient(50deg, rgba(255,99,37,1) 37%, rgba(241,236,52,1) 100%);
        
        }
        .burger1{
            width: 100%;
            display: flex;
            @include col-no;
            justify-content: center;
            align-items: center;
        }
        .info-card{
            display: none;
        }
            img{
                width: 50%;
            }
    
    }
    .card2{
        grid-area: ca-2;
        width: 70%;
        margin: 10%;

        padding: 2%;       
        @include flex-centrar;
        flex-flow: column nowrap;
        border: 2px solid black;
        border-radius: 1rem; 
        background: rgb(207,32,32);
        background: linear-gradient(45deg, rgba(207,32,32,1) 3%, rgba(221,133,0,1) 50%, rgba(225,66,30,1) 100%);
    
                &:hover{
                    grid-row-start: ca-1;
                    grid-row-end: ca-2;
                    grid-column-start:  ca-1;
                    grid-column-end: ca-2;
                    width:80%;
                    margin: 5%;
                    margin-left: 10%;
                    position: relative;
                    @include flex-centrar;
                    flex-flow: row nowrap;
                    transition: all 500ms;
                    z-index: 1;
                    overflow: hidden;

                    .info-card2{
                        list-style: none;
                        display: block;                    
                }
                img{
                    width: 80%;
                }
    
            }
            .burger2{
                width: 100%;
                display: flex;
                @include col-no;
                justify-content: center;
                align-items: center;
            }
            .info-card2{
                display: none;
            }
            img{
                width: 75%;
                padding: 8%;
            }
    
}
    .card3{
        grid-area: ca-3;
        width: 70%;
        margin: 10%;
        padding: 2%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        align-content: center;        
        border: 2px solid black;
        border-radius: 1rem; 
        background: rgb(53,185,137);
        background: linear-gradient(45deg, rgba(53,185,137,1) 10%, rgba(50,219,81,1) 65%, rgba(25,114,82,1) 90%);
            &:hover{
                grid-row-start: ca-3;
                grid-row-end: ca-4;
                grid-column-start:  ca-3;
                grid-column-end: ca-4;
                width: 80%;
                margin: 5%;
                margin-right: 5%;
                padding-right: 5%;
                @include flex-centrar;
                @include row-no;
                transition: all 500ms;
                backdrop-filter: blur(5px);
                overflow: hidden;
                z-index: 1;
            .info-card3{
                display: block;
                list-style: none;
                img{
                    width: 80%;
                }
    
            }

        }
        .burger3{
            width: 100%;
            display: flex;
            @include col-no;
            justify-content: center;
            align-items: center;
        }
        .info-card3{
            display: none;
        }
            img{
                padding-top:10% ;
                width: 50%;
            }

    }
    .card4{
        grid-area: ca-4;
        width: 70%;
        margin: 10%;
        padding: 2%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        align-content: center;       
        border: 2px solid black;
        border-radius: 1rem; 
        background: rgb(212,120,28);
        background: linear-gradient(45deg, rgba(212,120,28,1) 3%, rgba(200,239,65,1) 50%, rgba(255,137,1,1) 100%);

            &:hover{
                grid-row-start: ca-3;
                grid-row-end: ca-4;
                grid-column-start:  ca-3;
                grid-column-end: ca-4;
                width: 80%;
                margin: 5%;
                margin-left: 6%;
                position: relative;
                @include flex-centrar;
                flex-flow: row nowrap;
                transition: all 500ms;
                z-index: 1;
                overflow: hidden;
                .info-card4{
                    list-style: none;
                    display: block;                    
                }
                img{
                    width: 50%;
                }
    
            }
            .burger4{
                width: 100%;
                display: flex;
                @include col-no;
                justify-content: center;
                align-items: center;
                
            }
            .info-card4{
                display: none;
            }
            img{
                width: 55%;
                margin-top: -10%;
                padding: 2%;
            }

    }
    
    
}










.main-about{
    padding-top: 0%;
    margin-top: 0%;
    background-color: map-get($colores, color1);
    grid-area: main-a;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    .main-title{
        align-self:flex-end;
        margin-right: 10%;
            -webkit-animation: swing 1s ease;
                        animation: swing 2.5s ease;
                        -webkit-animation-iteration-count: 10;
                        animation-iteration-count: 2;   
        

    }
    .section-1-about{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        background-color: map-get($colores, color2);
            p{
                font-family: 'koulen';

            }
        img{
            width: 60%;
            padding: 10%;
            border-radius: 1rem;
        }
    }
    .section-2-about{
        width: 100%;
        display: flex;
        flex-flow: row-reverse nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        p{
            margin: 2%;
            font-family: 'koulen';
        }
        img{
            width: 60%;
            padding: 10%;
            border-radius: 1rem;
        }
    }
    .section-3-about{
        display: flex;
        flex-flow: column nowrap;
        background-color: map-get($colores, color2);
        
}
}

.main-pagos{
    display: grid;
    grid-area: contenido;
    grid-template-areas: "productos pagos";
    width: 100%;
    .section-form-pagos{ 
        margin-top: 16%;
        grid-area: pagos;
        width: 100%;
        display: flex;
        flex-flow:column wrap;
        justify-content: center;
        align-items: center;
        align-content: flex-end;

        img{
            width: 70%;
        }
        h2{
            color: map-get($colores, color2);
            font-size: 5rem;
        }
        form {
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            justify-content: center;
            align-items: center;
            input{
                border-radius: 1rem ;
            }
        }
        ul{
            display:flex ;
            flex-flow: column nowrap;
            justify-content: center;
            gap: 1rem;
            li{
                padding-left: 10rem;
                display:flex ;
                flex-flow: column nowrap;
                justify-content: center;
                align-content: center;
                align-items: center;
                a{
                    display:flex ;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    background-color:#942a2a;
                    border: 12px solid #d26439;
                    border-radius: 2rem;
                    text-decoration: none;
                    color: yellow;
            }
        }
    }
    
}
.section-productos-pagos{
    grid-area: productos;
    width: 100%;
    margin-top: 7rem;
    display:flex ;
    flex-flow: column nowrap;
    margin-left: 2rem;
    img{
        width: 20%;
    }
        h2{
            color:map-get($colores, color2);
            font-size: 5rem;
        }
        ul{
            display:flex ;
            flex-flow: column nowrap;
            justify-content: center;
            gap: 1rem;
            li{
                padding-left: 10%;
                display:flex ;
                flex-flow: column nowrap;
                justify-content: center;
                align-content: center;
                align-items: center;
                a{
                    display:flex ;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    background-color:map-get($colores, color2);
                    border: 2px solid map-get($colores, color1);
                    border-radius: 2rem;
                    text-decoration: none;
                    color: #fff;
                        &:hover{
                        transform: scale(1.1);

                        }
                }
            }
        }
}
}