
.main-index{
    grid-area: main-i;
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .titulo{
        padding: 10%;
        h1{
            font-size: 6rem;
        }     
    }
    .buscador{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        .input-localizacion{
            display: flex;
            border: 2px solid $color-principal;
            width: 60%;
            height: 55px;
            border-radius: 1rem;
            background: white;
        }
        ion-icon{
            padding: 1%;
            font-size:230% ;
            color: $color-principal;
            border: 4px solid black;
            border-radius: 1rem;
            color: black;
        }
        .boton-buscador{
            background-color: $color-principal;
            border: 2px solid black;
        }
    }

}
.texto-opciones{
    grid-area: txt;
    display: flex;
    flex-flow: column nowrap;
    .texto-opciones-1{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-items: flex-start;
        h1{
            margin-left: 5%;
            padding: 2%;
            }
}
.texto-opciones-2{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: flex-end;
    h2{
    margin-right: 10%;       
    padding: 1%;

    }
}
        
}
    .main-inicio{
        grid-area: main;
        margin-left: 10%;
        display: grid;
        grid-template-areas: "ca-1 ca-2"
        "ca-3 ca-4";
        gap: 2%;
    .card1{
        grid-area: ca-1;
        width: 70%;
        padding: 2%;
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        align-items: center;
        align-content: center;      
        border: 2px solid #45dc2e84;
        border-radius: 1rem; 
        background-color: $color-2;
  
        img{
            width: 50%;
        }
    
    }
    .card2{
        grid-area: ca-2;
        width: 70%;
        padding: 2%;       
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        align-items: center;
        align-content: center;
        border: 2px solid $color-2;
        border-radius: 1rem; 
        background-color: $color-2;

        img{
            width: 50%;
        }

    }
    .card3{
        grid-area: ca-3;
        width: 70%;
        padding: 2%;
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        align-items: center;
        align-content: center;        
        border: 2px solid $color-2;
        border-radius: 1rem; 
        background-color: $color-2;


        img{
            width: 50%;
        }

    }
    .card4{
        grid-area: ca-4;
        width: 70%;
        padding: 2%;
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        align-items: center;
        align-content: center;       
        border: 2px solid $color-2;
        border-radius: 1rem; 
        background-color: $color-2;

 
        img{
            width: 50%;
        }

    }


}

.footer-inicio{
    grid-area: footer-o;
    margin-top: 5rem;
}


.main-about{
    padding-top: 5%;
    margin-top: -5%;
    background-color: rgb(255, 255, 255);
    grid-area: main-a;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    .main-title{
        align-self:flex-end;
        margin-right: 10%;

    }
    .section-1-about{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        background-color: $color-principal;
        img{
            width: 60%;
            padding: 10%;
            border-radius: 1rem;
        }
    }
    .section-2-about{
        width: 100%;
        display: flex;
        flex-flow: row-reverse nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        img{
            width: 60%;
            padding: 10%;
            border-radius: 1rem;
        }
    }
    .section-3-about{
        display: flex;
        flex-flow: column nowrap;
        background-color: $color-principal;
        
  

}
}
.footer-about{
    grid-area: footer-a;
    width: 100%;
    margin-bottom: 6%;
    background-color: $color-principal;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    h3{
        margin-top: 2% ;
    }
    .footer-about-contact{
        padding: 2%;
        display: flex;
                flex-flow: row nowrap;        
                justify-content: space-evenly;
        img{
                width: 10%;
            }

    }
   
    
    }