
.main-index{
    grid-area: main-i;
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .titulo{
        padding: 10%;
        h1{
            font-size: 6rem;
        }     
    }
    .buscador{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        .input-localizacion{
            display: flex;
            border: 2px solid $color-principal;
            width: 60%;
            height: 55px;
            border-radius: 1rem;
            background: white;
        }
        ion-icon{
            padding: 1%;
            font-size:230% ;
            color: $color-principal;
            border: 4px solid black;
            border-radius: 1rem;
            color: black;
        }
        .boton-buscador{
            background-color: $color-principal;
            border: 2px solid black;
        }
    }

}

    .main-inicio{
        grid-area: main;
        margin-left: 10%;
        display: grid;
        grid-template-areas: "ca-1 ca-2"
        "ca-3 ca-4";
        gap: 2%;
    .card1{
        grid-area: ca-1;
        width: 70%;
        padding: 2%;
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        align-items: center;
        align-content: center;      
        border: 2px solid #45dc2e84;
        border-radius: 1rem; 
        background-color: $color-2;
            img{
                width: 50%;
            }
    
    }
    .card2{
        grid-area: ca-2;
        width: 70%;
        padding: 2%;       
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        align-items: center;
        align-content: center;
        border: 2px solid $color-2;
        border-radius: 1rem; 
        background-color: $color-2;

        img{
            width: 50%;
        }

    }
    .card3{
        grid-area: ca-3;
        width: 70%;
        padding: 2%;
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        align-items: center;
        align-content: center;        
        border: 2px solid $color-2;
        border-radius: 1rem; 
        background-color: $color-2;


        img{
            width: 50%;
        }

    }
    .card4{
        grid-area: ca-4;
        width: 70%;
        padding: 2%;
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        align-items: center;
        align-content: center;       
        border: 2px solid $color-2;
        border-radius: 1rem; 
        background-color: $color-2;

 
        img{
            width: 50%;
        }

    }


}




.main-about{
    padding-top: 5%;
    margin-top: -5%;
    background-color: rgb(255, 255, 255);
    grid-area: main-a;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    .main-title{
        align-self:flex-end;
        margin-right: 10%;

    }
    .section-1-about{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        background-color: $color-principal;
        img{
            width: 60%;
            padding: 10%;
            border-radius: 1rem;
        }
    }
    .section-2-about{
        width: 100%;
        display: flex;
        flex-flow: row-reverse nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        img{
            width: 60%;
            padding: 10%;
            border-radius: 1rem;
        }
    }
    .section-3-about{
        display: flex;
        flex-flow: column nowrap;
        background-color: $color-principal;
        
}
}

.main-pagos{
    display: grid;
    grid-area: contenido;
    grid-template-areas: "productos pagos";
    width: 100%;
    .section-form-pagos{ 
        margin-top: 6rem;
        grid-area: pagos;
        width: 100%;
        display: flex;
        flex-flow:column wrap;
        justify-content: center;
        align-items: center;
        align-content: flex-end;

        img{
            width: 50%;
        }
        h2{
            color: red;
            font-size: 5rem;
        }
        form {
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            justify-content: center;
            align-items: center;
            input{
                border-radius: 1rem ;
            }
        }
        ul{
            display:flex ;
            flex-flow: column nowrap;
            justify-content: center;
            gap: 1rem;
            li{
                padding-left: 10rem;
                display:flex ;
                flex-flow: column nowrap;
                justify-content: center;
                align-content: center;
                align-items: center;
                a{
                    display:flex ;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    background-color:#942a2a;
                    border: 12px solid #d26439;
                    border-radius: 2rem;
                    text-decoration: none;
                    color: yellow;
            }
        }
    }
    
}
.section-productos-pagos{
    grid-area: productos;
    width: 100%;
    margin-top: 7rem;
    display:flex ;
    flex-flow: column nowrap;
    margin-left: 2rem;
    img{
        width: 20%;
    }
        h2{
            color: red;
            font-size: 5rem;
        }
        ul{
            display:flex ;
            flex-flow: column nowrap;
            justify-content: center;
            gap: 1rem;
            li{
                padding-left: 10rem;
                display:flex ;
                flex-flow: column nowrap;
                justify-content: center;
                align-content: center;
                align-items: center;
                a{
                    display:flex ;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    background-color:#942a2a;
                    border: 12px solid #d26439;
                    border-radius: 2rem;
                    text-decoration: none;
                    color: yellow;
                    &:hover{
                        transform: scale(1.1);

                    }
                }
            }
        }
}
}
.footer-pagos{
    grid-area: footer-2;
    margin-top: 3rem;
    background-color: $color-principal;
    padding: 2%;
    margin-bottom: 4%;
}