.texto-opciones{
    margin-top: 20%;
    margin-bottom: 30%;
    margin-left: 5%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    .uno{
    .mapa{
        display: flex;

        justify-content: center;

        
    }
    }
}