@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import "./variables";

.texto-opciones{
    font-family: 'Koulen';
    grid-area: txt;
    padding-top: 10%;
    display: flex;
    flex-flow: column nowrap;
        .texto-opciones-1{
        border-radius: 1rem;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-items: flex-start;
        margin-bottom: 2%;
        
        h1{
            font-size: 4rem;
            color:map-get($colores, color2) ;
            margin-left: 5%;
            padding: 2%;
            -webkit-text-stroke: 3px black;
            }
    }
    
}       

.texto-opciones-2{
    grid-area: txt-2;
    margin-top: 15%;
    border-bottom: none;
    border-radius: 1rem;
    @include flex-centrar;
    @include col-no;
    margin-bottom: 2%;
    font-family: 'Koulen';
        h2{
            @include flex-centrar;
            margin-right: 10%;       
            padding: 1%;
        }
        p{
            @include flex-centrar;
            @include col-no;
            margin-left: 2rem;
            margin-right: 2rem;

        }
}